In [62]:
import pandas as pd
ad = pd.read_csv('actual_duration.csv')
# print(ad.shape)
print(ad.dtypes)
print(ad.head())
# print(ad.columns)

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object
  sub_icb_location_code sub_icb_location_ons_code  \
0                   00L                 E38000130
1                   00L                 E38000130
2                   00L                 E38000130
3                   00L                 E38000130
4                   00L                 E38000130

                        sub_icb_location_name icb_ons_code region_ons_code  \
0  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
1  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
2  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
3  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012
4  NHS North East and North Cumbria ICB - 00L    E54000050       E40000012

  appointment_date         actual_duration  count_of_appointments
0        01-Dec-21           31-60 Minutes                    364
1        01-Dec-21           21-30 Minutes                    619
2        01-Dec-21            6-10 Minutes                   1698
3        01-Dec-21  Unknown / Data Quality                   1277
4        01-Dec-21           16-20 Minutes                    730

In [6]:
ar = pd.read_csv('appointments_regional.csv')
# print(ar.shape)
# print(ar.dtypes)
ar.head()
# print(ar.columns)

,icb_ons_code,appointment_month,appointment_status,hcp_type,appointment_mode,time_between_book_and_appointment,count_of_appointments
0,E54000034,2020-01,Attended,GP,Face-to-Face,1 Day,8107
1,E54000034,2020-01,Attended,GP,Face-to-Face,15 to 21 Days,6791
2,E54000034,2020-01,Attended,GP,Face-to-Face,2 to 7 Days,20686
3,E54000034,2020-01,Attended,GP,Face-to-Face,22 to 28 Days,4268
4,E54000034,2020-01,Attended,GP,Face-to-Face,8 to 14 Days,11971

In [76]:
nc = pd.read_excel('national_categories.xlsx')
# nc.shape
nc.head()
# print(nc.columns)

,appointment_date,icb_ons_code,sub_icb_location_name,service_setting,context_type,national_category,count_of_appointments,appointment_month
0,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Primary Care Network,Care Related Encounter,Patient contact during Care Home Round,3,2021-08
1,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,Other,Care Related Encounter,Planned Clinics,7,2021-08
2,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Home Visit,79,2021-08
3,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,General Consultation Acute,725,2021-08
4,2021-08-02,E54000050,NHS North East and North Cumbria ICB - 00L,General Practice,Care Related Encounter,Structured Medication Review,2,2021-08

In [73]:
ad_number = ad.select_dtypes('number')
print(ad_number)
ad_number.describe()

        count_of_appointments
0                         364
1                         619
2                        1698
3                        1277
4                         730
...                       ...
137788                    430
137789                    751
137790                    921
137791                   1439
137792                   1739

[137793 rows x 1 columns]

       count_of_appointments
count          137793.000000
mean             1219.080011
std              1546.902956
min                 1.000000
25%               194.000000
50%               696.000000
75%              1621.000000
max             15400.000000

In [42]:
ar_number = ar.select_dtypes('number')
print(ar_number)
ar_number.describe()

        count_of_appointments
0                        8107
1                        6791
2                       20686
3                        4268
4                       11971
...                       ...
596816                     21
596817                      8
596818                     28
596819                     17
596820                     10

[596821 rows x 1 columns]

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

### Assignment activity 1

In [46]:
# How many locations are there? 
ad_unique = ad['sub_icb_location_name'].nunique('sub_icb_location_name')
ad_unique

106

In [71]:
# What are the five locations with the highest number of records?
ad_usecols = pd.read_csv('actual_duration.csv', usecols = ['sub_icb_location_name',
                                                          'count_of_appointments'])
ad_usecols.head    
print(ad_usecols.groupby('sub_icb_location_name').sum().head())

                                                    count_of_appointments
sub_icb_location_name
NHS Bath and North East Somerset Swindon and Wi...                3012568
NHS Bedfordshire Luton and Milton Keynes ICB - ...                2791385
NHS Birmingham and Solihull ICB - 15E                             3600087
NHS Black Country ICB - D2P2L                                     3901431
NHS Bristol North Somerset and South Gloucester...                2756491

In [92]:
# How many service settings, context types, national categories, and appointment statuses are there?
print(nc['service_setting'].nunique('service_setting'))
      
print(nc['context_type'].nunique('context_type'))
      
print(nc['national_category'].nunique('national_category'))

5
3
18

### Assignment activity 3
- Between what dates were appointments scheduled? 
- Which service setting reported the most appointments in North West London from 1 January to 1 June 2022?
- Which month had the highest number of appointments?
- What was the total number of records per month?

#### Q1. Between what dates were appointments scheduled?

In [7]:
# View the first five rows of appointment_date for the ad DataFrame to determine the date format.
import pandas as pd
pd.ad(usecols = ['appointment_date'])

AttributeError: module 'pandas' has no attribute 'ad'

In [ ]:
# View the first five rows of appointment_date for the nc DataFrame to determine the date format.

In [ ]:
# Change the date format of ad['appointment_date'].


# View the DateFrame.

In [ ]:
# Change the date format of ar['appointment_date'].


# View the DateFrame.

In [ ]:
# Determine the minimum and maximum dates in the ad DataFrame.
# Use appropriate docstrings.

In [ ]:
# Determine the minimum and maximum dates in the nc DataFrame.
# Use appropriate docstrings.